---js
// <script>
const pagination = {
  data: "paintings",
  size: 1,
  alias: "painting"
}

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
  title: "{{ painting }}",
};

const permalink = function (data) {
  return `/paintings/${this.slugify(data.painting.title)}/`;
};

const layout = "layouts/page.njk";
---
<h1>{{ painting.title }}</h1>
{% if painting.filename %}
  <img src="{{ painting.filename }}" alt=" " eleventy:widths="100" />
{% else %}
  <p>no pitcher here</p>
{% endif %}
{% if pagination.href.previous %}
  <a href="{{ pagination.href.previous}}">prev</a>
{% endif %}
{% if pagination.href.next %}
<a href="{{ pagination.href.next }}">next</a>
{% endif %}
<p>
<a href="/paintings/">all</a> paintings
</p>