---
pagination:
  data: artworks.paintings
  size: 1
  alias: painting
eleventyExcludeFromCollections: true
eleventyComputed:
  pageTitle: "{{ painting.title }}"
permalink: "/paintings/{{ painting.title | slugify }}/"
layout: "layouts/page.njk"
---
{% if painting.filename %}
  <img src="{{ painting.filename }}" alt=" " eleventy:widths="100" />
{% else %}
  <p>no pitcher here</p>
{% endif %}
{% if pagination.href.previous %}
  <a href="{{ pagination.href.previous}}">prev</a>
{% endif %}
{% if pagination.href.next %}
<a href="{{ pagination.href.next }}">next</a>
{% endif %}
<p>
<a href="/paintings/">all</a> paintings
</p>