.cover__exterior {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding: 0;
}

.cover__exterior > * {
  margin-block: 1rem;
}

.cover__exterior > :first-child:not(main) {
  margin-block-start: 0;
}

.cover__exterior > :last-child:not(main) {
  margin-block-end: 0;
}

.cover__exterior > main {
  margin-block: auto;
}