.stack__exterior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gainsboro;
}

.stack__exterior > * {
  margin-block: 0;
}

.stack__exterior > * + * {
  margin-block-start: var(--space, 10rem);
}
