:root {
    /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,24,1.25,4,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    /* Step -2: 12.5px → 15.36px */
    --type-size--2: clamp(0.7813rem, 0.7191rem + 0.3109vw, 0.96rem);
    /* Step -1: 15px → 19.2px */
    --type-size--1: clamp(0.9375rem, 0.8462rem + 0.4565vw, 1.2rem);
    /* Step 0: 18px → 24px */
    --type-size-0: clamp(1.125rem, 0.9946rem + 0.6522vw, 1.5rem);
    /* Step 1: 21.6px → 30px */
    --type-size-1: clamp(1.35rem, 1.1674rem + 0.913vw, 1.875rem);
    /* Step 2: 25.92px → 37.5px */
    --type-size-2: clamp(1.62rem, 1.3683rem + 1.2587vw, 2.3438rem);
    /* Step 3: 31.104px → 46.875px */
    --type-size-3: clamp(1.944rem, 1.6012rem + 1.7142vw, 2.9297rem);
    /* Step 4: 37.3248px → 58.5938px */
    --type-size-4: clamp(2.3328rem, 1.8704rem + 2.3118vw, 3.6621rem);

    --sans: system-ui, sans-serif;
}

body {
    font-family: var(--sans);
    font-size: var(--type-size-0);
}

h1 {
    font-size: var(--type-size-4);
    font-weight: 700;
}
