@import url("global/reset.css");
/* @import url("compositions/stack.css"); */
@import url("compositions/cover.css");
@import url("_typography.css");
@import url("_spacing.css");

/* @link https://utopia.fyi/grid/calculator?c=318,18,1.2,1488,24,1.25,4,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,xs-xl&g=s,l,xl,12 */

:root {
    --grid-max-width: 93rem;
    --grid-gutter: var(
        --space-s-l,
        clamp(1.125rem, 0.6154rem + 2.5641vw, 3rem)
    );
    --grid-columns: 12;
}

.u-container {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    margin-inline: auto;
}

.u-grid {
    display: grid;
    gap: var(--grid-gutter);
}

body {
    background-color: var(--local-color, crimson);
}

h1 {
    color: var(--light-base, dodgerblue);
    text-transform: uppercase;
}

main {
    background: 50% / contain no-repeat url("../../public/slice.webp");
    justify-content: space-between;
}

header > * {
    display: inline;
}

p {
    color: var(--local-color, inherit);
}

.ar-titem {
    --n: 16;
    --d: 9;
    aspect-ratio: var(--n) / var(--d);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ar-titem > img,
.ar-titem > video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.cover {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
    padding: 0;
}

.cover > * {
    margin-block: 1rem;
}

.cover > :first-child:not(h1) {
    margin-block-start: 0;
}

.cover > :last-child:not(h1) {
    margin-block-end: 0;
}

.cover > h1 {
    margin-block: auto;
}
