<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>William Whitaker | painter</title>
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body style="--local-color: #0a0a0a;">
        <main class="cover">
            <header>
                <h1>Paintings</h1>
                <p style="--local-color: limegreen; --local-size: 1.2em;">
                    <span>w. whitaker</span>
                </p>
            </header>
            <footer>
                <p
                    style="--local-size: 2.5em; --local-color: #25cb7d;"
                    #eaeaea";> get in touch: <a href="
                    mailto:william@williamwhitaker.art">email</p>
            </a>
        </p>
    </body>
</html></footer></main></body></html>