<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>William Whitaker | painter</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <main>
        <figure>
                <img src="public/eiedots-2.svg" alt=" ">
            <figcaption>
                <p class="title">title</p>
                <p class="date">2023</p>
            </figcaption>
        </figure>
        <figure>
            <img src="public/eiedots-3.svg" alt=" ">
            <figcaption>
                <p class="title">title</p>
                <p class="date">2023</p>
            </figcaption>
        </figure>
        <figure>
            <img src="public/eiedots-3.svg" alt=" ">
            <figcaption>
                <p class="title">title</p>
                <p class="date">2023</p>
            </figcaption>
        </figure>
        <p>get in touch: <a href="mailto:william@williamwhitaker.art">email</a></p>
    </main>
</body>

</html>