<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>William Whitaker | painter</title>
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body>
        <main>
            <div class="ar-titem">
                <img src="public/ULG2107.webp" alt=" ">
            </div>
            <div class="ar-titem">
                <img src="public/ULG2110.webp" alt=" ">
            </div>
        </main>
        <footer>
            <p>
                get in touch:
                <a href="mailto:william@williamwhitaker.art">email</a>
            </p>
        </footer>
    </body>
</html>