<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>William Whitaker | art</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">{{ metadata.title }}</a>
      </h1>
      <nav>
        <ul>
          {%- for entry in collections.all | eleventyNavigation -%}
            <li>
              <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    </header>
    {{ content | safe }}
  </body>
</html>