:root {
    /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,24,1.25,4,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,xs-xl&g=s,l,xl,12 */

    /* Space 3xs: 5px → 6px */
    --space-3xs: clamp(0.3125rem, 0.2908rem + 0.1087vw, 0.375rem);
    /* Space 2xs: 9px → 12px */
    --space-2xs: clamp(0.5625rem, 0.4973rem + 0.3261vw, 0.75rem);
    /* Space xs: 14px → 18px */
    --space-xs: clamp(0.875rem, 0.788rem + 0.4348vw, 1.125rem);
    /* Space s: 18px → 24px */
    --space-s: clamp(1.125rem, 0.9946rem + 0.6522vw, 1.5rem);
    /* Space m: 27px → 36px */
    --space-m: clamp(1.6875rem, 1.4918rem + 0.9783vw, 2.25rem);
    /* Space l: 36px → 48px */
    --space-l: clamp(2.25rem, 1.9891rem + 1.3043vw, 3rem);
    /* Space xl: 54px → 72px */
    --space-xl: clamp(3.375rem, 2.9837rem + 1.9565vw, 4.5rem);
    /* Space 2xl: 72px → 96px */
    --space-2xl: clamp(4.5rem, 3.9783rem + 2.6087vw, 6rem);
    /* Space 3xl: 108px → 144px */
    --space-3xl: clamp(6.75rem, 5.9674rem + 3.913vw, 9rem);

    /* One-up pairs */
    /* Space 3xs-2xs: 5px → 12px */
    --space-3xs-2xs: clamp(0.3125rem, 0.1603rem + 0.7609vw, 0.75rem);
    /* Space 2xs-xs: 9px → 18px */
    --space-2xs-xs: clamp(0.5625rem, 0.3668rem + 0.9783vw, 1.125rem);
    /* Space xs-s: 14px → 24px */
    --space-xs-s: clamp(0.875rem, 0.6576rem + 1.087vw, 1.5rem);
    /* Space s-m: 18px → 36px */
    --space-s-m: clamp(1.125rem, 0.7337rem + 1.9565vw, 2.25rem);
    /* Space m-l: 27px → 48px */
    --space-m-l: clamp(1.6875rem, 1.231rem + 2.2826vw, 3rem);
    /* Space l-xl: 36px → 72px */
    --space-l-xl: clamp(2.25rem, 1.4674rem + 3.913vw, 4.5rem);
    /* Space xl-2xl: 54px → 96px */
    --space-xl-2xl: clamp(3.375rem, 2.462rem + 4.5652vw, 6rem);
    /* Space 2xl-3xl: 72px → 144px */
    --space-2xl-3xl: clamp(4.5rem, 2.9348rem + 7.8261vw, 9rem);

    /* Custom pairs */
    /* Space xs-xl: 14px → 72px */
    --space-xs-xl: clamp(0.875rem, -0.3859rem + 6.3043vw, 4.5rem);
}

body {
    margin: 0;
}

header,
footer {
    margin-inline: var(--space-3xs);
}
